module.exports = {
    port: 3212,
    prod: false,
    url: "https://reddark.untone.uk/",
    logDataOnFail: true,
    blockedSubreddits: ["r/bi_irl", "r/suddenlybi", "r/ennnnnnnnnnnnbbbbbby", "r/feemagers", "r/BrexitAteMyFace"],
}
