* {
    padding: 0px;
    margin: 0px;
}

:root {
    --background-body: #202b38;
    --background: #161f27;
    --background-alt: #1a242f;
    --selection: #c0d5e8;
    --text-main: #e9f4fc;
    --text-bright: #c7d2dd;
    --text-muted: #88959f;
    --links: #41adff;
    --focus: #0096bfab;
    --border: #526980;
    --code: #ffbe85;
    --animation-duration: 0.1s;
    --button-base: #0c151c;
    --button-hover: #040a0f;
    --scrollbar-thumb: var(--button-hover);
    --scrollbar-thumb-hover: rgb(0, 0, 0);
    --form-placeholder: #a9a9a9;
    --form-text: #fff;
    --variable: #d941e2;
    --highlight: #efdb43;
    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}

html {
    scrollbar-color: #040a0f #202b38;
    scrollbar-color: var(--scrollbar-thumb) var(--background-body);
    scrollbar-width: thin;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    line-height: 1.4;
    margin: 20px auto;
    word-wrap: break-word;
    color: #dbdbdb;
    color: var(--text-main);
    background: #202b38;
    background: var(--background-body);
    text-rendering: optimizeLegibility;
    --width: 75vw;
}



h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
    font-weight: 600;
}

footer {
    border-top: 1px solid #526980;
    border-top: 1px solid var(--border);
    padding-top: 10px;
    color: #a9b1ba;
    color: var(--text-muted);
}

body>footer {
    margin-top: 40px;
}

h2 {
    color: #fff;
    color: var(--text-bright);
}

h1 {
    color: #fff;
    color: var(--text-bright);
}

h1 {
    font-size: 2.2em;
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 12px;
    margin-top: 24px;
}

a {
    text-decoration: none;
    color: #41adff;
    color: var(--links);
}

ul {
    list-style: none;
}

h3+ul li::before {
    content: "";
    margin-right: 2em;
}

h3+ul li.dark::before {
    content: "✊";
    margin-right: 1em;
}

footer {
    text-align: center;
}

ul ul {
    column-count: 2;
}

@media (width <=640px) {
    ul ul {
        column-count: 1;
    }
}

a {
    text-decoration: underline;
}

/* .section-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
} */

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10.5rem, 1fr));
    grid-auto-rows: 1fr;
    width: 100%;
    grid-gap: 10px;
}

.subreddit a {
    margin: 0px;
    font-size: 15px;
    color: #c3d4e9;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

.subreddit p {
    margin: 0px;
    color: var(--text-muted)
}

.subreddit-private {
    color: #00ffaa !important;
    text-shadow: 0px 0px 20px #00ffaa !important;
    margin-bottom: 15px;
    font-weight: 900;
    position: relative;
}

.subreddit-private p,
.subreddit-private a {
    word-wrap: anywhere;
    color: #00ffaa !important;
}


.hide-public .subreddit {
    display: none;
}

.hide-public .subreddit-private {
    display: inherit;
    text-shadow: none;
}

.status-updates {
    position: fixed;
    pointer-events: none;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    gap: 20px;
    padding: 20px;
    z-index: 900;
}

.n40million {
    --col: #ff3366 !important;
}
.n30million {
    --col: #ff33d3 !important;
}
.n20million {
    --col: #a333ff !important;
}
.n10million {
    --col: #7733ff !important;
}
.n5million {
    --col: #336dff !important;
}
.n1million {
    --col: #33b8ff !important;
}
.n500k {
    --col: #33d3ff !important;
}
.n250k {
    --col: #33ff88 !important;
}
.n100k {
    --col: #33ff6d !important;
}
.n50k {
    --col: #b4ff33 !important;
}
.n5k {
    --col: #717171 !important;
}
.nb5k {
    --col: #2f2f2f !important;
}

.noscroll {
    overflow: hidden !important;
}

.status-update {
    --col: var(--links);
    pointer-events: all;
    padding: 10px;
    cursor: pointer;
    border-radius: 900px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), var(--col);
    border: 2px solid var(--col);
}
@keyframes load {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
    }
}
.history-item {
    animation: 1s load ease;
    background: linear-gradient(0deg, #141A20aa, #141A20bb), var(--col);
    border-left: 2px solid var(--col);
    padding: 12px;
}
.history-item h1 {
    font-size: 20px !important;
}
.history-item h3 {
    font-size: 10px !important;
}
.button {
    padding: 8px 14px;
    background-color: var(--background-body);
    border-radius: 900px;
    cursor: pointer;
}

.tools {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.tools-left {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

strong {
    font-weight: 900;
}

light {
    font-weight: 300;
    font-size: 70%;
}

.toggle-box {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-color: #fff1;
    border-radius: 32px;
    position: relative;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle-enabled .toggle-box:after {
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 90px;
    background-color: #fff;
}

.amount,
.tools {
    padding: 8px 0px;
    background-color: var(--background);
    width: 100%;
}

.amount {
    background-color: var(--background-alt);
    position: sticky;
    top: 0;
    z-index: 42;
    box-sizing: border-box;
}

.amount-inner {
    display: flex;
    align-items: center;
}

.amount-inner,
header,
main,
footer {
    max-width: var(--width);
    margin: 0px auto;
}


.amount-inner input {
    background-color: transparent;
    color: white;
    font-family: inherit;
    border: 0px solid transparent;
    outline: 0px solid transparent !important;
    border-bottom: 1px solid #fff5;
    padding: 5px;
}

.amount-inner input:focus {
    border-bottom: 1px solid white;
}

#amount {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
}

.tools-inner {
    width: 100%;
    max-width: var(--width);
    margin: 0px auto;

    display: flex;
    align-items: center;
}

.mainList h1 {
    position: sticky;
    top: 42px;
    margin: 0px;
    margin-top: 12px;
    padding-top: 8px;
    padding-bottom: 4px;
    margin-bottom: 9px;
    background-color: var(--background-body);
    border-bottom: 1px solid #fff2;
    z-index: 42;
}

footer p {
    margin-top: 20px;
}

footer img {
    height: 50px;
    margin-top: 20px;
}

.filtered {
    display: none;
}

.large-counter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161f27;
    z-index: 1000;
    transition: all 0.2s ease;
}
.large-counter-inner {
    margin-right: 400px;
}

.large-counter-history {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    background-color: #141a20;
}

.large-counter h1 {
    font-size: 9vh;
}

.large-counter h1 small {
    font-size: 3vh;
}

.large-counter-close {
    width: 40px;
    height: 40px;
    border-radius: 44px;
    background-color: #fff4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50px;
    left: 50px;
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-default .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
    display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
    display: block;
    -webkit-backface-visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value {
    display: block;
    -webkit-transform: translateZ(0);
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
    position: absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
    line-height: 1.1em;
}

.odometer.odometer-auto-theme .odometer-value,
.odometer.odometer-theme-default .odometer-value {
    text-align: center;
}
.large-counter-hidden {
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 700px) {
    body {
        --width: calc(100vw - 50px);
    }
    .tools-left {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .button {
        font-size: 15px;
        padding: 4px 8px;
    }
    .amount-inner {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #amount {
        margin-left: 0px;;
    }
    #search-input {
        width: 100%;
        margin-bottom: 5px;
    }
    .large-counter-inner {
        margin-right: 0px;
    }
    .large-counter-history {
        display: none;
    }
}

.history-item * {
    padding: 0px;
    margin: 0px;
}